.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.CharactersList_wrapper{
  text-align: center;
  justify-content: space-between;
  width: 20%;
  padding: 10px 10px;
  margin-left: 40%;

}

.list{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 30%;
  margin-left: 30%;
  margin-top:2%;
  padding: 10px 10px;
  
}

.char{
  margin-top: 50px;
  width: 100%;
  font: bold;
  color: blue;
  border: 1px solid black;
  padding: 10px 10px;
  
}
